.table table, td,th{
    border: solid 1px #000000;
    padding: 10px;
}
h1{
    margin-left:460px;
}
table{
    margin-left: 310px;
}
p{
    margin-left: 240px;
}
button{
    margin:20px;
    margin-left:500px;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background-color: antiquewhite;
}