<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <header>
            <h2>Hello {{request.session.user_name}}! Read about this trip!</h2>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        </header>
        <main>
            <p>{{trip.dest}}</p>
            <div>
                <P>Start Date: {{trip.start_date}}</P>
                <p>End Date: {{trip.end_date}}</p>
                <p>Created On: {{trip.created_at}}</p>
                <p>Last Updated: {{trip.updated_at}}</p>
                <p>Plan: {{trip.plan}}</p>
                <p>Created by: {{request.session.user_name}}</p>
            </div>
        </main>
    </body>
</html>