<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>
	@model ViewModelFun.Models.User
	<body>
		<h3>Here is a User!</h3>

		<h2>@Model.FirstName @Model.LastName</h2>
	</body>
</html>
