<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
@model List<ViewModelFun.Models.User>
<body>
    <h3>Here are some Users!!</h3>
    @for(var i =0;i<Model.Count;i++){
        <h4>@Model[i].FirstName</h4>
    }
</body>
</html>