@{ ViewData["Title"] = "Home Page"; }

<!-- <div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>
		Learn about
		<a href="https://docs.microsoft.com/aspnet/core"
			>building Web apps with ASP.NET Core</a
		>.
	</p>
</div> -->

<style>
	* {
		text-align: center;
	}
	h1 {
		border: 1px solid black;
		width: 400px;
		margin: auto;
		padding: 10px;
		margin-bottom: 20px;
	}
</style>
<div class="wrapper">
	<h4>Random Passcode (passcode #@ViewBag.Count)</h4>
	<h3>@ViewBag.Passcode</h3>
	<form action="/generate" method="post">
		<input type="submit" value="Generate" class="btn btn-success" />
	</form>
</div>
