<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>
	<body>
		<h2>Submitted Info</h2>
		<div>Name:@ViewBag.name</div>
		<div>Dojo Location:@ViewBag.loc</div>
		<div>Favorite Language:@ViewBag.lang</div>
		<div>Comment:@ViewBag.comment</div>
		<a href="/"><button>Go Back</button></a>
	</body>
</html>
