<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>Dojo Weather Forecast</h1>
    <button [routerLink]="['/seattle']">Load seattle</button> |
    <button [routerLink]="['/sanjose']">Load san jose</button> |
    <button [routerLink]="['/burbank']">Load bur bank</button> |
    <button [routerLink]="['/dallas']">Load dallas</button> |
    <button [routerLink]="['/dc']">Load dc</button> |
    <button [routerLink]="['/chicago']">Load chicago</button>

    <router-outlet></router-outlet>
  </body>
</html>
