<html>
	<head>
		<meta charset="utf-8" />
		{%load static%}
		<link rel="stylesheet" href="{% static 'dash_app/style_dash.css' %}" />
	</head>
	<body>
		<header>
			<h2>Hello {{request.session.user_name}}!</h2>
			<a href="/logout" class="logout">Logout</a>
			<form action="/trips/new">
				{%csrf_token%}
				<button
					class="Create"
					style="width: 120px; height: 30px; background-color: rgb(255, 251, 0);"
				>
					Create a new trip!
				</button>
			</form>
		</header>
		<div>
			<p class="heading">Your trips:</p>
			<table>
				<tr>
					<th>Destination</th>
					<th>Start Date</th>
					<th>End Date</th>
					<th>Plan</th>
					<th>Actions</th>
				</tr>
				{% for trip in user_trips.all %}

				<tr>
					<td><a href="/trips/{{trip.id}}">{{trip.dest}}</a></td>
					<td>{{trip.start_date}}</td>
					<td>{{trip.end_date}}</td>
					<td>{{trip.plan}}</td>
					<td>
						<a href="/trips/remove/{{trip.id}}">Remove</a>|<a
							href="/trips/edit/{{trip.id}}"
							>Edit</a
						>
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<div>
			<p class="heading">Other trips:</p>
			<table>
				<tr>
					<th>Destination</th>
					<th>Start Date</th>
					<th>End Date</th>
					<th>Plan</th>
					<th>Want to join???</th>
				</tr>
				{% for user in other_users %} {% for trip in user.trips.all %}
				<tr>
					<td><a href="/trips/{{trip.id}}">{{trip.dest}}</a></td>
					<td>{{trip.start_date}}</td>
					<td>{{trip.end_date}}</td>
					<td>{{trip.plan}}</td>
					<td><a href="/trips/join/{{trip.id}}">Join</a></td>
				</tr>
				{% endfor %} {% endfor %}
			</table>
		</div>
	</body>
</html>
