<html>
	<body>
		<h2>Submitted information</h2>
		<div>Name:<%= data.name %></div>
		<div>Location:<%= data.dojo %></div>
		<div>Favorite language:<%= data.lang %></div>
		<div>comment:<%= data.comment %></div>
		<a href="/"><button>Go back</button></a>
	</body>
</html>
