<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>
	@model FormSubmission.Models.User
	<body>
		<h1>Submitted Info</h1>
		<div>Name:@Model.Name</div>
		<div>Dojo Location:@Model.Loc</div>
		<div>Favorite Language:@Model.Lang</div>
		<div>Comment:@Model.Comment</div>
	</body>
</html>
