<h3>Edit this pet</h3>
<div>
  <div *ngIf="errorMessage">
    <p>{{ errorMessage }}</p>
  </div>
  <div *ngIf="errorMessage1">
    <p>{{ errorMessage1 }}</p>
  </div>
  <div *ngIf="errorMessage2">
    <p>{{ errorMessage2 }}</p>
  </div>
  <div *ngIf="errorMessage3">
    <p>{{ errorMessage3 }}</p>
  </div>
  <form (submit)="editPet(editedPet)">
    <label for="name">Pet name:</label>
    <input type="text" name="name" id="name" [(ngModel)]="editedPet.name" />
    <label for="type">Pet type:</label>
    <input type="text" name="type" id="type" [(ngModel)]="editedPet.type" />
    <label for="desc">Description:</label>
    <input
      type="text"
      name="description"
      id="desc"
      [(ngModel)]="editedPet.description"
    />
    <br />

    <p>Skills:</p>
    <div id="skill">
      <ul>
        <label for="skill1">Skill 1:</label>
        <input
          type="text"
          name="skill[1]"
          id="skill1"
          [(ngModel)]="editedPet.skill1"
          placeholder="{{ onePet.skill[0] }}"
        />
        <label for="skill2">Skill 2:</label>
        <input
          type="text"
          name="skill2"
          id="skill2"
          [(ngModel)]="editedPet.skill2"
          placeholder="{{ onePet.skill[1] }}"
        />
        <label for="skill3">Skill 3:</label>
        <input
          type="text"
          name="skill3"
          id="skill3"
          [(ngModel)]="editedPet.skill3"
          placeholder="{{ onePet.skill[2] }}"
        />
      </ul>
    </div>
    <!-- <input
      type="hidden"
      name="skill"
      value="[editedPet.skill1,editedPet.skill2,editedPet.skill3]"
      [(ngModel)]="editedpet.skill"
    /> -->
    <button (click)="goHome()">CANCEL</button>
    <input type="submit" value="Edit pet" />
  </form>
</div>
