<html lang="en">
    <head>
        {%load static%}
        <link rel="stylesheet" href="{% static 'css/tv.css' %}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Create</title>
    </head>
    <body>
        <h2>Add a New Show</h2>
        <a href="/shows">Go Back</a>
        {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
            {% endfor %}
        </ul>
        {% endif %}
        <form action="/create" method="POST">
            {% csrf_token %}
            <p>Title</p>
            <input type="text" name="title">
            <p>Network</p>
            <input type="text" name="network">
            <p>Release Date</p>
            <input type="date" pattern="\d{4}-\d{2}-\d{2}" name="release_date" value="yyyy-mm-dd">
            
            <p>Description</p>
            <textarea name="desc" id="desc-input" cols="30" rows="5"></textarea>
            <input type="submit" value="Create">
        </form>
        
    </body>
</html>