<html>
	<body>
		<h2>Here is detail :</h2>
		<% for (var cat of cats) { %>
		<h3>Name: <%= cat.name %></h3>
		<h4>Favorite food: <%= cat.food %></h4>
		<h4>Age: <%= cat.Age %></h4>
		<hr />
		<% } %>
	</body>
</html>
