<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>
	<body>
		<h2>There are all dogs that I have!</h2>
		<% for(var dog of dogs){%>
		<a href="/dogs/<%= dog._id %>"><li><%= dog.name %></li></a>
		<hr />
		<% } %>

		<a href="/dogs/new"><button>Create a new dog!</button></a>
	</body>
</html>
